/* You can add global styles to this file, and also import other style files */

:root {
    --color-light: #f5f5fa;
    --color-light-1: #e3e3e3;
    --color-light-2: #f6f6fa;
    --color-black: #1b1d2a;
    --color-grey: #e1e1e2;
    --color-grey-1: #bababa;
    --color-light-blue: #506ef9;
    --default-shadow: rgba(138, 138, 138, 0.1);
}